<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Byndr | Dapp Library </title>
  <link rel="icon" href="images/favicon.png" sizes="16x16" type="image/png">

  <!-- Vendor styles -->
  <link rel="stylesheet" href="css/fontawesome/css/font-awesome.css" />
  <link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="css/style.css">
  <style>
      .register-container {
        max-width: 420px;
        margin: auto;
        padding-top: 8%;
      }
  </style>
</head>

<body class="light-skin fixed-navbar fixed-footer">
  <!-- Loading Screen-->
  <div id="loader" class="splash" style="display: block">
    <div class="color-line"></div>
    <div class="splash-title">
      <h1>Byndr | Dapp</h1>
      <p>Loading</p>
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>
  <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <!-- Header -->
  <div id="header">
    <div class="color-line">
    </div>
    <div class="navbar-header m-l-md">
        <a class="navbar-brand" href="https:www.byndr.com" style="padding-top: 10px;">
          <img src="images/byndr_logo.png"  style="max-width: 120px;">
        </a>
      </div>
    <nav role="navigation">
      <div class="navbar-right">
        <ul class="nav navbar-nav no-borders">     
          <li>
            <a title="Simple Dapp example to cover Blockchain, Ethereum & Solidity essentials" target="_blank">
              <span style="font-size: 12px;line-height: 20px;vertical-align: middle;color: #c42074;">HELP</span>
              <span class="pe-7s-help1" style="vertical-align: middle;color: #c42074; font-size: 18px;"></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Main Wrapper -->

  <div>
    <div class="register-container">
          
    </div>

    <footer class="footer">
      <span class="pull-right">
          Support: info@byndr.com
      </span>
      &copy; 2018 Byndr.
    </footer>

  </div>

  <script src="js/jquery.min.js"></script>
  <script src="css/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
  <script src="js/theme.js"></script>
  <script src="js/index.js"></script>

</body>
</html>